*{
    font-family: 'Work Sans', sans-serif;
}
img{
    max-width: 100%;
    background-size: cover;
}
/*---header---*/
.navbar-brand img{
    width: 60px;
}

.shorf .navlink{
    padding-left: 15px !important;
    padding-right: 15px !important;
}
/*--slider caption-*/
.slider-section{
    background: url(images/mbr-10.jpg) no-repeat center center;
    padding: 120px 0;
  
    position: relative;
    background-size: cover;
    
}

.slider-section h4{
    margin-bottom: 35px;
}
.slider-section h2{
    margin-bottom: 50px;
    font-size: 46px;
}
.slider-section .hi{
    background-color:green;
    padding:.7rem 4rem;
    margin-bottom: 5px;
}
.number-counter{
    font-size: 30px;
   
}
.about-section{
    background: #f7f9ff;
}
.about-text-left{
    margin-top: 120px;
}
.about-text-left .lead{
    font-size: 18px;
}
.feature-item{
    height: 300px;
    box-shadow: 2.5px 4.33px 30px  0 rgb(80, 73, 73);
   
}


.left-img-sec{
    width: 40%;
    overflow: hidden;
    border-radius: 5px 0 0 5px;
}
.left-text-sec{
    width: 60%;
    padding: 25px;
}
.left-img-sec img{
    height: 100%;
    width: auto !important;
    max-width: inherit;
    position: relative;
    left: -80px;
    background-color: red;
}
/*protfolio hover*/
.protfolo-item{

}
.protfolo-item a{
    position: relative;
    display: block;
}
.protfolo-item a:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(98,120,223,.7);
    opacity: 0;
    visibility: hidden;
    transition: .4s;

}
.protfolo-item:hover a::after{
    opacity: 1;
    visibility: visible;
}
.section-bg{
    background-color: #f7f9ff;
}
/*-------*/
.priching-item{
    background: #f7f9ff;
    padding: 50px;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.1);
    border-radius: 20px;
}
.priching-item h1{}
.priching-item h5{}
.priching-item ul{
    list-style: none;
    margin-left:0;
    margin-right: 0;
    margin-bottom: 45px;
   
}
.priching-item ul li{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    color: #777;
}
.priching-item ul li span{
    color: #657be0;
    font-size: 25px;
    font-weight: bold;
    width: 40px;
    display: inline-block;
    
    
}
.priching-item .btn-hero a{
    font-size: 22px;
    border-color: #657be0;
    border-width:#777;
    padding: 14px 30px;
    
}
.author{
    width: 250px;
    margin: auto;
}
.author img{
    width: 85px;
    margin-right: 18px;

}
.user{
    text-align: left;
    position: relative;
    top: 10%;
}

.about{
    margin-top: 100px;
   
}
.about .card img{width: 130px;
    height: auto;
    margin-top: -70px;
    margin-left: 15px;

}